
h1 {
	font-family: 'Open Sans', sans-serif;
	width: 700px;
	vertical-align: text-bottom;
	text-align: center;
	margin: auto;
	color: black;
	border-radius: 5px;
	background-color: rgb(200, 170, 239);

}

p {
	font-family: 'Roboto', sans-serif;
	width : 500px;
	margin: auto;
	line-height: 1.4;
	background-color: white;
	color: black;
}

p#code {
	font-family: 'Inconsolata', monospace;
	width: 500px;
	margin: auto;
	line-height: 1.4;
	background-color: white;
	color: black;
	
}

ul#top_menu {

	list-style-type: none;
	margin: 0;
	padding: 0;
}
ul#top_menu li {
	display: inline;
	width: 100px;
}